{%extends 'pharmacy/pharmacyBase.html'%}

{%block content%}


<h1 class="text-center border rounded m-2 shadow-sm fw-bold py-2">Product list</h1>

<table class="table">
    <thead>
        <tr class="table table-dark">

            <th scope="col">Shop Name</th>
            <th scope="col">Price</th>
            <th scope="col">Pic</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        {%for product in products%}
        <tr>

            <td>{{product.name}}</td>
            <td>{{product.price}}</td>
            <td><img width="100px" src="{{product.image.url}}" alt="image"></td>
            <td>
                <a href="{%url 'pharmacy_product_update' product.id%}">Edit</a>
                <a href="{%url 'pharmacy_product_Delete' product.id%}">Delete</a>
            </td>
        </tr>
        {%endfor%}

    </tbody>
</table>

{%endblock%}