{% extends 'pharmacy/base.html' %}
{% load static %}

{%block content%}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-body ">
                <form action="" method="get">
                    <p class="d-inline"> Procudt Name : {{myFilter.form}}</p>
                    <button class="btn btn-info btn-sm rounded" type="submit">Search</button>
                </form>
            </div>
        </div>
    </div>

</div>

<div class="container-fluid mt-3">
    <div class="row">


        <!-- filter -->

        <div class="col-lg-3 mx-auto">
            <div class="list-group">

                <a href="/shop/{{shop.id}}"
                    class="list-group-item list-group-item-action text-info font-weight-bold">All
                    Products</a>


                {% for category in categorys %}
                <a href="/shop/{{shop.id}}/?category={{category.id}}"
                    class=" btn btn-outline-info">{{category.name}}</a>
                {% endfor %}

            </div>
        </div>

        <!-- all products -->
        <div id='products' class="col-lg-9 mx-auto mb-3">
            <div class="row mx-auto">
                {% for product in page_obj%}

                <div class="card mx-auto mb-3 shadow-sm " id="" style="width: 18rem;"><a
                        href="/shop/{{shop.id}}/{{product.id}}"><img src="{{product.image.url}}" height="250px"
                            class="card-img-top" alt="..."></a>

                    <div class="card-body">
                        <h5 class="card-title">{{product.name}}</h5>
                        <p class="card-text">Price: <b>৳ {{product.price}}</b> </p>
                    </div>
                    <div class="card-footer">


                        <button data-product="{{product.id}}" data-pharmacy="{{shop_id}}" data-action="add"
                            class="btn btn-outline-info add-btn rounded update-cart">Add to Cart</button>


                    </div>

                </div>

                {% endfor %}




            </div>
            {% if page_obj.has_previous%}

            <a href="?page={{page_obj.previous_page_number}}" class="btn btn-info rounded">Previous</a>
            {%endif %}

            <span class="btn btn-outline-success">{{page_obj.number}}</span>

            {% if page_obj.has_next%}
            <a href="?page={{page_obj.next_page_number}}" class="btn btn-info rounded">Next</a>
            {%endif %}
            <br>
            <br>
            <br>
            <br>
            <br>
        </div>
    </div>
</div>






{%endblock%}