{%extends 'pharmacy/pharmacyBase.html'%}

{%block content%}


<h1 class="text-center border rounded m-2 shadow-sm fw-bold py-2 ">Product list</h1>

<br>
<div class="container ">
    <div class="row">
        <div class="col ">
            <div class="card card-body">
                <form method="get">

                    <p class="d-inline product-search"> Product name : {{myFilter.form}}</p>

                    <button class="btn btn-info rounded btn-sm" type="submit">Search</button>
                </form>
            </div>
        </div>

    </div>
</div>
<br>

<div class="container-fluid product-list">

    <table class="table">
        <thead>
            <tr class="table  " style=" background-color:#17A2B8; color:white;  ">

                <th class="  text-center py-3">Product</th>
                <th class="  py-3">Price</th>

                <th class="  text-center py-3"">Action</th>
            </tr>
        </thead>
        <tbody>
            {%for product in products%}
            <tr>

                <td class=" product-spacing "><img width=" 100px" src="{{product.image.url}}" alt="image"
                    class="me-2 ">{{product.name}}</td>
                <td class="align-middle">{{product.price}}</td>

                <td class="text-center align-middle ">
                    <a class="btn btn-outline-success btn-sm d-block py-2"
                        href="{%url 'pharmacy_product_update' product.id%}">E d i t</a>
                    <!-- <a class="btn btn-outline-danger btn-sm"
                        href="{%url 'pharmacy_product_Delete' product.id%}">Delete</a> -->
                </td>
            </tr>
            {%endfor%}

            </tbody>
    </table>
</div>
{%endblock%}