{% extends 'pharmacy/base.html' %}

{%block content%}
<h1 class="text-center border rounded m-2 shadow-sm font-weight-bold py-2">{{product.name}}</h1>

<div class="container mt-3" style="display: block; margin:auto;">

    <div class="card mb-3 shadow-sm" style="max-width: 100%; height:fit-content; ">
        <div class="container ">
            <div class="row no-gutters  ">
                <div class="col-md-4">
                    <img src="{{product.image.url}}" height="350px" width="350px" alt="Profile picture">
                </div>
                <div class="col-md-8 col-md-offset-2 ">
                    <div class="card-body   " style="height: 350px; padding:40px;">
                        <h5 class="card-title "><b>Name:</b> {{product.name}}</h5>
                        <p class="card-text"><b>Category:</b> {{product.category}}</p>
                        <p class="card-text"><b>Description:</b> {{product.description}}</p>
                        <p class="card-text"><b>Price:</b> ৳ <b>{{product.price}}</b></p>




                    </div>
                    <div class="card-footer " style="background-color: white;">


                        <button data-product="{{product.id}}" data-pharmacy="{{shop_id}}" data-action="add"
                            class="btn btn-outline-info rounded add-btn  update-cart">Add to Cart</button>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}